@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --font-primary: "Nunito", sans-serif;
  --color-black: #252525;
  --color-primary: #619e80;
  --color-secondary: #daeccb;
  --color-red: #ff6363;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-black);
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.d-none {
  display: none;
}

.page-container {
  max-width: 75rem;
  padding: 2rem;
  margin: 0 auto;
}

header {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    font-size: 3rem;

    .la-heart {
      color: var(--color-red);
    }
  }
}

section.intro {
  padding: 10rem 0;
  color: white;
  background-color: var(--color-primary);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: 5rem;
    font-weight: 900;
  }

  p {
    width: 80%;
    font-size: 1.5rem;
  }
}

section.search {
  padding: 4rem 0;
  background-color: var(--color-secondary);

  form {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;

    input {
      flex: 1;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      border: none;
      border-radius: 4rem;
      font-family: var(--font-primary);
    }

    button {
      border: none;
      background-color: var(--color-primary);
      font-size: 1.5rem;
      font-weight: bold;
      font-family: var(--font-primary);
      color: white;
      padding: 0 3rem;
      border-radius: 4rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .search-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .search-result-item {
      background-color: white;
      padding: 2rem;
      border-radius: 1rem;

      &:hover .name h2,
      &:hover .name h3 {
        color: var(--color-primary);
      }

      .name {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;

        h2 {
          font-size: 2rem;
          font-weight: 900;
          transition: all 0.3s;
        }

        h3 {
          font-weight: normal;
          color: #777777;
          transition: all 0.3s;
        }
      }

      p span {
        font-weight: bold;
      }

      .slogan {
        font-style: italic;
        margin-bottom: 0.5rem;

        &:before {
          content: "—";
          font-weight: 1000;
          color: var(--color-red);
          padding-right: 0.3rem;
        }
      }

      .distinct-feature {
        margin-bottom: 0.5rem;
      }
    }
  }

  .search-message {
    margin-top: 8rem;
    text-align: center;

    h4 {
      font-size: 1.5rem;
      font-weight: 900;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
