/*-------------------- GENERAL --------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --font-primary: "Nunito", sans-serif;
  --color-black: #252525;
  --color-primary: #619e80;
  --color-secondary: #daeccb;
  --color-red: #ff6363;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.d-none {
  display: none !important;
}

.page-container {
  max-width: 75rem;
  padding: 2rem;
  margin: 0 auto;
}

header {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    font-size: 3rem;

    .la-heart {
      color: var(--color-red);
    }
  }

  nav {
    a + a {
      padding-left: 1rem;
    }
  }
}

.search-result,
.list-item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .grid-item {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;

    &:hover .name h2,
    &:hover .name h3 {
      color: var(--color-primary);
    }

    .name {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0 0.5rem;
      margin-bottom: 0.5rem;

      h2 {
        font-size: 2rem;
        font-weight: 900;
        transition: all 0.3s;
      }

      h3 {
        font-weight: normal;
        color: #777777;
        transition: all 0.3s;
      }
    }

    p span {
      font-weight: bold;
    }

    .slogan {
      font-style: italic;
      margin-bottom: 0.5rem;

      &:before {
        content: "—";
        font-weight: 1000;
        color: var(--color-red);
        padding-right: 0.3rem;
      }
    }

    .distinct-feature {
      margin-bottom: 0.5rem;
    }

    .location i {
      padding-right: 0.5rem;
    }
  }
}

/*-------------------- INDEX PAGE --------------------*/
section.intro {
  padding: 12rem 0;
  color: white;
  background-color: var(--color-primary);

  h1 {
    font-size: 5rem;
    font-weight: 900;
  }

  p {
    width: 80%;
    font-size: 1.5rem;
  }

  button {
    margin-top: 1.5rem;
    border: none;
    background-color: var(--color-red);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-primary);
    color: white;
    padding: 1rem 2rem;
    border-radius: 4rem;

    &:hover {
      cursor: pointer;
    }

    i {
      margin-left: 0.5rem;
      -webkit-text-stroke: 1px white;
    }
  }
}

section.search {
  padding: 5rem 0;
  background-color: var(--color-secondary);

  form {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;

    input {
      flex: 1;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      border: none;
      border-radius: 4rem;
      font-family: var(--font-primary);
    }

    button {
      border: none;
      background-color: var(--color-primary);
      font-size: 1.5rem;
      font-weight: bold;
      font-family: var(--font-primary);
      color: white;
      padding: 0 3rem;
      border-radius: 4rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .search-message {
    margin-top: 8rem;
    text-align: center;

    h4 {
      font-size: 1.5rem;
      font-weight: 900;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

/*-------------------- ANIMAL PAGE --------------------*/
section.animal-info {
  background-color: var(--color-primary);
  min-height: 100vh;
  padding-bottom: 6rem;
  .name {
    padding: 10rem 0;
    color: white;

    h1 {
      font-size: 5rem;
      font-weight: 900;
    }

    h2 {
      font-size: 2rem;
      font-weight: normal;
      font-style: italic;
    }
  }

  .list-actions {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    padding: 1rem 2rem;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;

    i:hover {
      cursor: pointer;
    }

    .favorite {
      color: var(--color-red);
    }
  }

  .add-remove {
    background-color: var(--color-secondary);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;

    & > * {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      form {
        justify-content: space-between;
        flex: 1;
      }
    }

    button {
      border: none;
      padding: 0.5rem 1.5rem;
      background-color: white;
      font: var(--font-primary);
      border-radius: 2rem;

      &:hover {
        color: white;
        background-color: var(--color-primary);
        cursor: pointer;
      }
    }

    input {
      border: none;
      border-radius: 2rem;
      padding: 0.5rem 1.5rem;
      margin-left: 1rem;
      font-family: var(--font-primary);
      font-size: 1rem;
    }
  }

  .facts {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    & > section {
      background-color: white;
      border-radius: 1rem;
      padding: 2rem;

      h3 {
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 0.5rem;
      }

      ul {
        list-style: none;

        li {
          display: flex;
          justify-content: space-between;

          padding: 1rem 0;
          border-bottom: 3px dotted #cecece;
          text-transform: capitalize;

          span {
            font-weight: 700;
            padding-right: 2rem;
          }
        }
      }
    }

    .characteristics {
      flex: 1;
    }
  }
}

/*-------------------- LIST PAGE --------------------*/
section.your-lists {
  background-color: var(--color-secondary);
  min-height: 100vh;

  h1 {
    font-size: 5rem;
    font-weight: 900;
    margin: 5rem 0;
  }

  .list {
    .list-title {
      background-color: white;
      padding: 2rem;
      font-size: 2rem;
      font-weight: 900;
      border-radius: 1rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;

      .favorite {
        color: var(--color-red);
      }

      .list-actions i {
        cursor: pointer;
      }

      i + i {
        margin-left: 1rem;
      }

      form {
        font-weight: normal;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        div {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        label {
          font-weight: bold;
        }

        input {
          font-size: 1rem;
          padding: 0.5rem 1rem;
          border-radius: 2rem;
          border: 1px solid #cecece;
          background-color: white;
          font-family: var(--font-primary);
        }

        button {
          font-size: 1rem;
          background-color: var(--color-primary);
          color: white;
          border: none;
          border-radius: 2rem;
          padding: 0.5rem 1.5rem;
          font-weight: bold;

          &:hover {
            cursor: pointer;
          }
        }

        i {
          font-size: 2rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .message {
      text-align: center;
      padding: 4rem 0;

      h4 {
        font-size: 1.5rem;
        font-weight: 900;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  .custom-lists .list {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 4px solid var(--color-primary);
  }
}
